.count-badge {
  float: right;
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.header-container {
  width: 100%;
  overflow: hidden; /* add this to contain floated children */
}

.category {
  float:left; /* add this */
  width: 200px;
  margin: 5px;
}

.response-type {
    text-align: center;
    padding: 1em;
    float: left;
    margin: 0 1em 1em 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 2px solid #ececec;
    background: #F7F7F7;
    transition: all .5s ease;
}

.response-card {
    margin: 4px;
    background-color: #FFF;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 6px 8px;
    min-height: 25px;
}

.response-card:hover {
    background-color: #F0F0F0;
}
.card-list {
  background-color: #E3E3E3;
  border-radius: 3px;
  margin: 5px 5px;
  padding: 10px;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  padding: 1em;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.gu-mirror {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}